html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #e5e5e5;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

.wrapper {
    overflow: hidden;
    min-height: 100vh;
    min-width: 320px;
    background-color: #212126;
    color: lightgrey;
}


.container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    padding: 2%;
    margin: 0 auto;

}

.header{
  background-color: #F2B705;
  display: flex;
  min-height: 50px;
  width:100%;
  position: fixed;

}

.contacts-item{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}




/* humburger */

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 15px;
  left: 15px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.nav__list {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 40px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.nav-list__item {
  display: block;
  padding: 10px 20px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.nav-list__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .nav__list {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.nav__list {
  transition-duration: .25s;
}
.nav-list__item {
  transition-duration: .25s;
}

.contacts-link{
  color:lightgrey;
}

/* section */
.section__title{
  font-weight: 500;
  color: lightgrey;
  text-transform: uppercase;
  text-decoration:underline;
  text-decoration-color: #F2B705;
  margin: 20px 0;
}

.hard-skills-list__item,
.soft-skills-list__item,
.nvv-list__item{
  list-style: inside;
}


.contacts-list__item{
  display: flex;
  margin-bottom: 10px;

}

.contacts-item__img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* pre */
.code-example{
  word-break: break-all;
  white-space: pre-wrap;
}
.hljs {
  font-size: 10px;

}

.main-page{
  margin-top: 50px;
}

.container--footer{
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer{
  background: #F2B705;
  min-height: 30px;
  padding: 5px;
  display:flex;
  justify-content: space-evenly;
}

.copyright{
  color: rgba(17, 15, 15, 0.712);
  font-weight: 900;
}

.rsschool__img{
  height: 30px;
  width: 75px;
}